.btn {
	font-size: 1.2em;
	color: #00B2E3;
	border-color: #00B2E3;
	margin: 10px 2.5px 0px 2.5px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 50px;
	padding-right: 50px;
	border: 1px solid;
	border-radius: 4px;
	background-color: #fff;
}

.btn:hover {
    color: #fff;
    background-color: #00B2E3;
    border-color: #00B2E3;
}