.confirmation {
	margin-bottom: 20px;

	&__actions {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Geomanist-Bold';
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #050505;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px; 
  margin-top: 3rem;
	width: 100%;

}

.grid > div {
	width: 50%;
	padding: 10px
}

.card1 {
  display: inline-block;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  width: 45%;
  // border: 1px solid #0fd119;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  // border: 1px solid #0fd119;
}

.button{
  background-color: #050505;
  color: #ffffff;
  border-radius: 12px;
  opacity: 0.4;
  display: inline-block;
  padding: 4px 4px 4px 4px
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
