$text-color: #41495c;

.about {
	padding: 50px 0;

	&__title {
		text-align: left;
		margin-top: 20px;
		font-family: 'Geomanist-Bold';
		font-size: 2em;
	}

	&__text {
		font-family: 'Geomanist-Regular';
		font-size: 1.1em;
		color: $text-color;
	}

}
.formItem {
	display: inline-block;
  margin: 0 4px;
	width: 49%;
	
}
.form {
	margin-bottom: 0 ;
	text-align: left;
}

.itemMessage{
	text-align: center;
	
}

.message {
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 4px;
	border-color:#a7a5a5;
	width: 100%;

}
.input{
  font-size: 1.2em;
	border-color:#a7a5a5;
	border-radius: 4px;
  width: 100%;
}
.button{
	font-family: 'Geomanist-Regular';
	font-size: 1.2em;
	color: #fff;
	background-color: #00B2E3;
	border-color: #00B2E3;
	border-radius: 6px;
	padding-left: 20px;
    padding-right: 20px;
		padding-top: 3px;
		padding-bottom: 3px;
}