@font-face {
  font-family: Geomanist-Bold;
  src: url('../fonts/Geomanist-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Geomanist-Regular;
  src: url('../fonts/Geomanist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Geomanist-Medium;
  src: url('../fonts/Geomanist-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}