$tripbuddy-color: #00B2E3;

.quotation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 75px;
	&__headerTable thead > tr > th {
		background-color: $tripbuddy-color !important;
		color: #fff;
		font-family: "Geomanist-Regular";
		text-align: center;
	}
	table {
		width: 70%;
	}
	thead {
		background-color: $tripbuddy-color !important;
		color: rgb(250, 244, 244);
		height: 60px;
		font-family: "Geomanist-Regular";
		text-align: center;
	}
	tbody {
		text-align: center;
		background-color: #f7f3f3;
		color: rgb(14, 13, 13);
		margin: 50;
		padding: 56px;
		height: 100px;
	}
	&__bodyTable {
		font-family: "Geomanist-Regular";
	}
}

.quotation_Dos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 75px;
	&__headerTable thead > tr > th {
		background-color: $tripbuddy-color !important;
		color: #fff;
		font-family: "Geomanist-Regular";
		text-align: center;
	}
	table {
		width: 70%;
	}
	thead {
		background-color: $tripbuddy-color !important;
		color: #fff;
		height: 60px;
		font-family: "Geomanist-Regular";
		text-align: center;
	}
	tbody {
		text-align: center;
		background-color: #f7f3f3;
		color: rgb(236, 233, 233);
		margin: 10;
		padding: 16px;
		height: 60px;
	}
	&__bodyTable {
		font-family: "Geomanist-Regular";
	}
}