.wrapper {
  height: 70px;
  border-bottom: 5px solid #00B2E3;
  & > div {
    height: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header_user {
  display: flex;
  align-items: center;
  height: 100%;
}

.user {
  display: flex;
  align-items: center;
  padding-left: 15px;
  &__figure {
    margin: 0;
  }
  &__img {
    width: 28px;
    height: 28px;
    background: gray;
    border-radius: 50%;
  }
  &__text {
    margin: 0;
    padding: 0 6px;
    font-family: "Geomanist-Regular";
    font-size: 1.1em;
    color: #41495c;
  }
}

.header_button {
  margin: 0 6px;
  border: 1px solid #00B2E3;
  color: #00b2e3;
  padding: -2px 12px;
  font-size: 1.2em;
  background-color: white;
  border-radius: 4px;
  outline: none;
  height: 37px;
  cursor: pointer;
  transition: .3s ease-in;
  &:hover {
    color: white;
    background-color: #00b2e3;
    transition: .3s ease-out;
  }
}
