.btnTripbuddy {
	font-family: 'Geomanist-Regular';
  font-size: 1.2em;
  color: #fff;
  background-color: #00B2E3;
  border-color: #00B2E3;
}

.btnTripbuddy:hover {
    color: #fff;
    background-color: #009CD7;
    border-color: #009CD7;
}