.dropdownCenter{
  display:flex;
  justify-content: space-between;
}
.dropdown {
    
	font-size: 1.2em;
	color: #000000;
	border-color: #030303;
	border: 1px solid;
	border-radius: 4px;
	background-color: #fff;
  width: 250px;
  margin: 10px 2px 0px 2px;
}