/* .main {
	margin-top: 30px;
} */

.main > div {
	margin-top: 73px;
}

.visible {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
	background-color: #fff;
  visibility: visible;
  transition: transform .3s ease, opacity 0.5s ease;
	transform: translate(0,0);
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
