.btn {
	font-size: 1.2em;
	color: #000000;
	border-color: #00B2E3;
	margin: 10px 2px 0px 2px;
	// padding: 4px 5px;
	border: 1px solid;
	border-radius: 4px;
	background-color: #fff;
  width: 240px;
}

.btn:hover {
  color: #fff;
  background-color: #00B2E3;
  border-color: #00B2E3;
}

.sectionSlider {
	display:contents;
	flex-direction: column;
	align-items: center;
  flex-wrap: wrap;
  justify-content: center;
	
}
.slider{
	margin-left:30%;
	margin-right: 30%;
}
.divbtn {
  display: inline-block;
  margin: 0 4px;
	// width: calc(32% - 12px);
}
.formbtn {
  margin-bottom: 20px ;
  margin-left:10% ;
  margin-right:10% ;
  text-align: center;
}