.btn {
	font-size: 1.2em;
	color: #000000;
	border-color: #00B2E3;
	margin: 10px 2px 0px 2px;
	padding: 4px 10px;
	border: 1px solid;
	border-radius: 4px;
	background-color: #fff;
	width: 222px;
}

.btn:hover {
    color: #fff;
    background-color: #00B2E3;
    border-color: #00B2E3;
}
.btn:active {
	background: #00B2E3;
  }

.customSvgIcon:hover {
	background-color: #00B2E3;
	border: thin;
}

.sectionSlider {
	display:contents;
	flex-direction: column;
	align-items: center;
	
}

.sectionSlider > div {
	display: contents;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}
.form {
	margin-bottom: 0!important;

}
.formbtn{
	display:inline-block!important;
	width: calc(32% - 10px)!important;
	margin: 0 8px!important;

}
.slider{
	margin-left:20%;
	margin-right: 20%;
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}