.customSvgIcon:hover {
	background-color: #00B2E3;
	border: thin;
}
.visible {
	position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
	background-color: #fff;
  visibility: visible;
  transition: transform .3s ease, opacity 0.5s ease;
	transform: translate(0,0);
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.section > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.rangepicker {
	display: inline-block;
  margin: 0 2px;
}
.form {
	margin-bottom: 0 ;
	text-align: center;
}
.dropdown {
	display: inline-block;
  margin: 0 4px;
	
}
.select{
	width:100% ;
}
