.customSvgIcon:hover {
	background-color: #00B2E3;
	border: thin;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.section > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.rangepicker {
	display: inline-block;
  margin: 0 4px;
}
.form {
	margin-bottom: 0 ;
	text-align: center;
}
.dropdown {
	display: inline-block;
  margin: 0 4px;
	
}
.select{
	width:100% ;
}
