.site{
  width: 300px;
  // border: 1px solid #a59898;
  border-radius: 2px;
}

.button {
  color:#00B2E3;
  padding: 0px 0px 0px 0px;
  display: inline-block;
}

.divCenter{
  display:flex;
  justify-content: space-between;
  padding: 8px;
}


